<form method="post" action="{{ path('app_task_end', {'id': task.id}) }}" class="form-end">
    <input type="hidden" name="_token" value="{{ csrf_token('end' ~ task.id) }}">
    <button class="btn btn-sm p-0 ms-1">
        <i class="bi bi-{{ task.isEnd ? 'check-circle-fill' : 'circle' }}"></i>
    </button>
</form>